*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height:80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    
    height:50px;
    width:110px;   
}
.logo{
background: url('https://www.shutterstock.com/image-vector/chattogram-bangladesh-april-24-2023-260nw-2292992631.jpg');
background-size: cover;
height: 50px;
width:110px;
}

.box-border:hover{
    border: 1px solid white;   
}
/* .navaddress{
    margin-left:10px;
} */
.addressicon{
    display: flex;
    align-items: center;   
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
   width: 650px;
   background-color: pink;
   height: 40px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   
}
.nav-search-option{
    /* margin-left: 30px;*/
    padding: 10px; 
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #E6E6E6;
    border: none;
    

}
.search-input{
   width: 100%;
   font-size: 1rem;
   border: none;
}
.search-icon{
    display: flex;
justify-content: center;
align-items: center;
   width: 45px;
    background-color: rgb(245, 182, 66);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 1.2rem;
    color: black;

}

img{
    margin-left: 40px;
    height:20px;
    width:25px;
}.nav-lang{
    display: flex;
    align-items: center;
}

.nav-lang-option{
    background: transparent;
    color: white;
    border: 0px;
    font-weight: bold;   
}

.nav-sign{
    font-size: 14px;
    margin-left: 6px;
}
.nav-acc-list
{
    background: transparent;
    color: white;
    border:0px;
    font-weight:20px;
    font-size: 15px;
   
}
.navbarlang{

    padding:8px;
    
}
.nav-account{
   
    padding:8px;
}
.nav-return{
   
    padding: 8px;
}
.order-detail

.return-opt{
    font-size: 12px;
   
}

.nav-cart{
    display: flex;
    margin: 10px;   
    padding:8px; 
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart p{
    font-size: 14px;
}
.panel{
    background-color: #232f3e;
    height: 39px;
    display: flex;
    justify-content: space-evenly;
    
    color: white;
    align-items: center;
}
.panel-all{
    display:flex;
}
.panel-item-names a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.panel-item-names{
    width:65%;
    font-size: 0.95rem;
    margin-left:15px;
}
.page{
    background-color: rgb(238, 233, 237);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    /* background-image: url('C:/Users/lenovo/my-first-project/src/assets/amazonbackground.jpg'); */

} 
.item-box{
    background-color: white;
    height: 465px;
    width:25%;
    padding: 8px;
    margin: 10px;    
}
.item-box a{
    text-decoration: none;
    font-size: 15px;
}
.ele-offer{
    margin-top: 10px;
    padding: 10px;
}
.img-size{
    margin-left: 20px;
    height:100px;
    width: 115px;
    margin: 10px;
}
.ele-img{
    display: flex;
   
    margin-top: 20px;
    padding: 10px;
}
.ele-offer{
    color:#007185;
}
.offer-span{
    font-size : 15px;  
}
.foot-panel1{
    background-color: #37475A;;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px;
    font-size: 12px;
    font-weight: 15px;
}
.foot-panel2{
    background-color: #232f3e;
}
.footcolhead
{
    color: #DDD;   
    margin-left: 40px; 
}
.listcontact{
    color: #ddd;
  list-style: none;
  font-size: 12px;
}
.footverticalcol
{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;

}
.footcolhead{
  padding-top: 25px;
  padding-bottom: 10px;
   font-weight: bold;

}
.nav-footer-line{
    border-top: 0.5px solid #DDD;
    margin-top: 0.5px;
}
.foot-panel3{
    background-color: #232f3e;
   

}
.span-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    margin: 5px;

}
.span-img img{
    height: 40px;
    width: 80px;
}
.span-chose{
    height: 20px;
    width: 100px;
   
text-align: center;
color: #DDD;
padding: 5px;
margin-left: 20px;
}
.foot-coutry{
   color: #DDD;
   width: 70%;
   display: flex;
   justify-content: center;
  align-items: center;
 
}
.nav_a{
    list-style: none;

}
.country
{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;


}
.country li{
    padding: 10px;
   
}
.foot-panel4{
    padding: 30px 0px;
    margin: 30px 0px;
    background-color: #131A22;

    font-size: 13px;
}

.foot-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy:hover{
    text-decoration:underline;
    color: #DDD;
}
.copy{
    list-style: none;
    
}
.copy a{
    text-decoration: none;
    color: #DDD;
    padding: 10px;
}
.copy-right{
    color: #DDD;
    text-align: center;
}